.navbar{
    background: #e8b384;
    background: -moz-linear-gradient(-45deg, #f4be79 0%, #94fb89 100%);
    background: -webkit-linear-gradient(-45deg, #f4be79 0%, #94fb89 100%);
    background: linear-gradient(135deg, #f4be79 0%, #94fb89 100%);
}

.content{
    background: #84e8dc;
    background: -moz-linear-gradient(-45deg, #84e8dc 0%, #f4ed8b 100%);
    background: -webkit-linear-gradient(-45deg, #84e8dc 0%, #f4ed8b 100%);
    background: linear-gradient(135deg, #84e8dc 0%, #f4ed8b 100%);
}
#example1{
    background: #a28997;
    background: -moz-linear-gradient(-45deg, #a28997 0%, #9551c6 100%);
    background: -webkit-linear-gradient(-45deg, #a28997 0%, #9551c6 100%);
    background: linear-gradient(135deg, #a28997 0%, #9551c6 100%);
    color: whitesmoke;
}
.card-body{
    background: #a28997;
    background: -moz-linear-gradient(-45deg, #a28997 0%, #9551c6 100%);
    background: -webkit-linear-gradient(-45deg, #a28997 0%, #9551c6 100%);
    background: linear-gradient(135deg, #a28997 0%, #9551c6 100%);
    color: whitesmoke;
}
table{
    color: whitesmoke;
}

.simplebar-content{
    background-color: rgb(49, 115, 117);
}
.sidebar-link, a.sidebar-link{
    background-color: rgb(49, 115, 117) !important;
    color: whitesmoke;
    font-size: 20px !important;
}
.sidebar-brand {
    font-size: 30px !important;
}
