body{
    margin: 50px;
    padding: 0;
    background-color: antiquewhite;
}
ul{
    width: 100px;
    height: 200px;
    line-height: 30px;
    background-color: aquamarine;

}
.to {
    font-size: 30px;
}

i:active + ul {
    transform: translateX(-150px);
}

ul {
    transition: all 1s ease-in-out;
}
.le{
    font-size: 30px; 
}